*,
*::before,
*::after {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

button {
  background: inherit;
  cursor: pointer;
}

input {
  appearance: none;
}

button,
input {
  border: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
