*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  appearance: none;
}

button,
input {
  border: none;
}
